body {
    --background: #313030;
    --background-layer2: #292828;
    --background-layer3: #202020;
    --borders: #161212;
    --accent: #332896;
    --accent-hover: #3f33aa;
    --accent-disabled: #0f0c2b;
    --text: #e7f6ff;
    --highlight: #8b8b8b;
    --texthidden: #e7f6ff00;
    --textdisabled: #6a7780;
    --textred: #ff8b8b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.light {
    --background: #ffffff;
    --background-layer2: #dddddd;
    --background-layer3: #ffffff;
    --borders: #cacaca;
    --accent: #5d4cf3;
    --accent-hover: #3f33aa;
    --accent-disabled: #9a95c7;
    --text: #202020;
    --highlight: #c2c2c2;
    --texthidden: #9c9c9c00;
    --textdisabled: #9da8b1;
    --textred: #684343;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
}
#left-col {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    background-color: var(--background);
    overflow-x: hidden;
}
#right-col {
    display: flex;
    flex-direction: column;
    transition: flex 0.6s;
    flex: 0.2 0 15rem;
    background-color: var(--background-layer2);
    border-left: 4px solid var(--borders);
}
#right-col.closed {
    flex: 0 0 3rem;
}
#game {
    transition: opacity 1s ease-in;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
    flex: 3 0 0;
}
#bottom-pane {
    display: flex;
    flex-direction: row-reverse;
    transition: flex 0.6s;
    flex: 2 0 0;
    border-top: 4px solid var(--borders);
    background-color: var(--background-layer3);
    padding: 0.5rem 0.25rem;
}
#bottom-pane.closed {
    flex: 0 0 0.5rem;
}
#bottom-pane.closed * {
    flex: 0 0 0;
    margin-bottom: -0.5rem;
}
#regex-entry, #sub-entry {
    transition: flex 0.6s, margin 0.6s;
    flex: 1 0 0;
    margin: 0.5rem;
    background-color: var(--background-layer2);
}
#regex-entry.closed, #sub-entry.closed {
    flex: 0 0 0;
    margin-left: -0.5rem;
}
#menu {
    position: absolute;
    overflow: hidden;
    display: flex;
    left: -8px;
    z-index: 2;
    background-color: var(--background);
    transition: width 1.2s ease;
    outline: 8px solid var(--borders);
    height: 100%;
    width: 0%;
}
#menu.open {
    left: 0px;
    width: 100%;
}
#menu-left {
    display: flex;
    flex-direction: column;
    flex: 0.2 0 12rem;
    background-color: var(--background-layer2);
    border-right: 4px solid var(--borders);
}
#menu-level-text {
    padding: 0.5rem;
    line-height: 180%;
    flex: 1 0 0;
    color: var(--text);
}
#menu-level-text > h3 {
    margin-top: 0;
}
#level-start-button {
    flex: 0 0 3rem;
    margin: 0.75rem;
    color: var(--text);
    font-size: x-large;
    font-weight: 100;
    background-color: var(--accent);
    border: solid 2px var(--accent-disabled);
}
#level-start-button.inactive {
    border: solid 2px var(--borders);
    background-color: var(--accent-disabled);
}
#level-start-button:hover:not(.inactive) {
    background-color: var(--accent-hover);
}
#menu-right {
    flex: 1 0 0;
    overflow: hidden;
}
#menu-view {
    position: relative;
    width: 100%;
    height: 100%;
}
#prev-nav {
    flex: 1 0 0;
}
#map-nav {
    flex: 2 0 0;
}
#next-nav {
    flex: 1 0 0;
}
#toggle-light {
    position: absolute;
    color: var(--text);
    background-color: var(--accent);
    border: solid 2px var(--borders);
    transform: translate(3px, 3px);
}
.nav-button {
    margin: 0rem 0.5rem;
    background-color: var(--accent);
    border: solid 2px var(--accent-disabled);
    color: var(--text);
}
.nav-button.inactive {
    border: solid 2px var(--borders);
    background-color: var(--accent-disabled);
}
.nav-button:hover:not(.inactive) {
    background-color: var(--accent-hover);
}
.level-nav {
    flex: 0 0 2.5rem;
    display: flex;
    margin: 1rem 0.5rem;
}
.closed .level-nav, .closed .nav-button {
    flex: 0 0 0;
    overflow: hidden;
    min-width: 0px;
    width: 0px;
}
.level {
    position: absolute;
    background-color: var(--background-layer3);
    color: var(--text);
    border-color: var(--text);
    border-style: solid;
    width: min-content;
    height: min-content;
}
.level.inactive {
    border-color: var(--textdisabled);
    color: var(--textdisabled);
}
.level.highlight {
    animation: 1.5s linear 0s infinite normal highlight-border, 1.5s linear 0s infinite normal highlights;
}
.line {
    position: absolute;
    height: 2px;
    background-color: var(--text);
}
.line.inactive {
    background-color: var(--textdisabled);
}
.fadeout {
    opacity: 0;
}
.col-twisty {
    display: flex;
    border: none;
    justify-content: space-between;
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    background-color: var(--background);
}
.closed .col-twisty {
    flex-direction: column;
}
.col-twisty > div {
    background-color: var(--text);
    flex: 0 0 0.25rem;
}
p {
    color: var(--text);
    font-size: medium;
    margin: 0.05em;
}
p.leveltext {
    flex: 1 0 0;
    padding: 1rem;
}
p.target {
    font-size: large;
}
span.ht {
    color: var(--textred);
    background-color: #f003;
}
span.code {
    padding: 0.2em;
    background-color: var(--borders);
    word-break: keep-all;
}
span.at:not(.ht) {
    text-decoration-color: #ff0000;
    color: #ff0000;
    text-decoration-line: line-through overline underline;
}
span.at {
    /* text-decoration: underline overline var(--text); */
    outline: 1px solid var(--text);
    outline-offset: -1px;
}
p.scroller {
    animation: 30s linear 0s infinite normal scroller;
    position: absolute;
    white-space: nowrap;
    overflow-x: hidden;
}
p.target:not(.scroller) {
    background-color: var(--background);
    z-index: 1;
}
p.died > span.ht {
    color: var(--textdisabled);
}
p.intro {
    transition: color 0.5s;
    font-size: x-large;
}
.regex-input, .flag-input {
    font-size: medium;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 2em;
    max-width: fit-content;
    display: inline-block;
    background-color: var(--borders);
    color: var(--text);
    border: none;
    outline: none;
    cursor: text;
}
.regex-input:empty:before, .flag-input:empty:before {
    content: "\200b";
}
.regex-input br, .flag-input br {
    display: none;
}
.regex-input.highlight:empty, .flag-input.highlight:empty {
    animation: 2s linear 0s infinite normal highlights;
}
.regex-entry {
    font-size: larger;
    align-items: center;
}
@-webkit-keyframes highlights {
    50% { background-color: var(--highlight) }
}
@keyframes highlights {
    50% { background-color: var(--highlight) }
}
@-webkit-keyframes highlight-border {
    50% { border-color: var(--textdisabled) }
}
@keyframes highlight-border {
    50% { border-color: var(--textdisabled) }
}
@-webkit-keyframes scroller {
    from { margin-left: -5rem; }
    to { margin-left: 105%; }
}
@keyframes scroller {
    from { margin-left: -5rem; }
    to { margin-left: 105%; }
}